body{background-color: #05f1ff;}

h1{font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 36px;
	color: #ff1f05;
	text-align: center;
	}
	
h2{font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 30px;
	color: #000000;
	text-align: center;
	}

h3{font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	}	
	
p{font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
	}

pre{font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 20px;
	color: #000000;
	text-align: center;
	}
	
img{display: block;
	margin-left: auto;
	margin-right: auto;
	}

iframe{display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
video{display: block;
	margin-left: auto;
	margin-right: auto;
	}

audio{display: block;
	margin-left: auto;
	margin-right: auto;
	}
